div{
    height:100px;
    width: 100px;
    border-radius: 50%;
    border-top:25px solid green;
    border-right: 25px solid black;
    border-bottom:25px solid blueviolet;
    border-left: 25px solid yellowgreen;
    animation: spinAnimations 1s ease-in 0s infinite;
}
@keyframes spinAnimations{
from{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}
}